.pop-up__save-button-box{
    /*box-sizing: border-box;*/
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    height: 50px;
    width: 358px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 48px;
    margin-bottom: 37px;
}
@media screen and (max-width: 600px) {
    .pop-up__save-button-box{
        height: 46px;
        width: 238px;
        font-size: 14px;
        line-height: 1.21;
        margin-top: 45px;
        margin-bottom: 25px;
    }
}