.Profile__status{
    font-size: 18px;
    line-height: 1.22;
    grid-area: status;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 500px;
}
@media screen and (max-width: 963px) {
    .Profile__status{
        font-size: 14px;
        line-height: 1.21;
        justify-self: center;
        max-width: 100%;
    }
}