.form__save-button-box{
    box-sizing: border-box;
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    height: 50px;
    width: 358px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    font-size: 18px;
    line-height: 1.22;
    margin-top: 36px;
    margin-bottom: 37px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay:0s;
    cursor: pointer;
}
.form__save-button-box:hover{
    opacity: 0.8;
  }
@media screen and (max-width: 600px){
    .form__save-button-box{
        height: 46px;
        width: 238px;
        font-size: 14px;
        line-height: 1.21;
        margin-top: 33px;
        margin-bottom: 25px;
    }
}
