.header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 41px;
}
@media screen and (max-width: 963px){
    .header{
        gap:31.6px;
    }
}