.Profile__Info{
    grid-area: info;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    vertical-align: bottom;
    max-width: 100%;
}
@media screen and (max-width: 963px){
    .Profile__Info{
        column-gap: 10px;
        row-gap: 14px;
        align-items: center;
        max-width: calc(100vw - 38px);
    }
}