.pop-up__input-box{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    min-height: 40px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.21;
}
.pop-up__input-box::placeholder{
    color: #C4C4C4;
}